/* sidebar buttons */

.sideBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}

/* social links */

.links {
    padding: 0 .8rem;
}

.links:nth-child(n+2) {
    border-left: 2px solid #E6E6E6;
}

.links:nth-child(n+2):hover {
    color: #5A56D1;
}