/* sidebar buttons */

.sideBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}

/* social links */

.links {
    padding: 0 .8rem;
}

.links:nth-child(n+2) {
    border-left: 2px solid #E6E6E6;
}