.shrinkbox {
    height: 25px;
    overflow: hidden;
    transition: all .2s ease;
  }
  
  .expandbox {
    height: 50px;
    transition: all .2s ease;
  }
  
  .arrowtransition {
    transition: all .2s ease;
  }