.nav {
    background-color: rgba(0, 0, 0, 0.4);
  }

.nav-list li {
    padding: 0 .3rem;
    border-radius: 5px;
}

.nav-list li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .2s ease;
}

.datetime {
    padding: 0 .2rem;
    border-radius: 5px;
}

.datetime:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .2s ease;
}